<h1>INSCRIPTION :</h1>

<form class="group">
  <mat-form-field class="example-full-width">
    <mat-label>Nom :</mat-label>
    <input matInput placeholder="Ex. NOM">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Prénom :</mat-label>
    <input matInput placeholder="Ex. PRENOM">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Pseudo :</mat-label>
    <input matInput placeholder="Ex. PSEUDO">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Email :</mat-label>
    <input matInput placeholder="Ex. EMAIL">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Mot de passe :</mat-label>
    <input matInput placeholder="Ex. PASSWORD">
  </mat-form-field>
</form>
